.exibir-container {
    background: linear-gradient(to right, #4facfe, #00f2fe);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .home-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .home-button:hover {
    background-color: #0056b3;
  }
  
  
  .card-exibir {
    width: 90%;
    max-width: 1200px;
    border-radius: 15px;
    background: white;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .search-bar {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .table-container {
    overflow-y: auto;
    max-height: 500px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
    height: 500px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
  
  .table th {
    background-color: #007bff;
    color: white;
  }
  
  .table tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  .load-more-btn {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .load-more-btn:hover {
    background-color: #0056b3;
  }
  